.git/
.idea/
.DS_Store
node_modules
src/**/*.js
tags/*
.history
.vscode/

coverage
package-lock.json
index.js
.copy.json

.temp/
.temp-pub-items/
.temp-pub/
.temp-entry-items/
.stark_storage.json
**/dist
yarn.lock