.input {
  color: #323233;

  :global {
    // H5的垫片，不能让他有样式
    .taroify-native-input {
      border: none;
      background: transparent;
    }

    .taroify-input__placeholder--danger {
      color: #c8c9cc !important;
    }
  }
}
