.searchBar {
  height: 100%;
  padding: 0;
  overflow: hidden;
  :global {
    .taroify-search__field {
      background: transparent;
      padding: 5px 5px 5px 0px;
    }

    .taroify-search__content {
      background: #ffffff00 !important;
    }

    .taroify-search__field .taroify-icon {
      display: flex;
      align-items: center;
    }
  }
}
