.table {
  width: 100%;
  height: 100%;
  display: flex;

  .leftSide {
    box-shadow: 0px 1px 8px 4px rgba(0, 0, 0, 0.06);
    position: relative;
    z-index: 1;
    .tr.thead {
      height: 40px;
      .td {
        background: #f6f6f6;
        color: #666666;
        font-weight: 500;
        font-size: 13px;
        line-height: 1;
      }
    }

    .tr {
      display: flex;
      .td {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .main {
    flex: 1;
    overflow: auto;

    .tr.thead {
      height: 40px;
      .td {
        background: #f6f6f6;
        color: #666666;
        font-weight: 500;
        font-size: 13px;
        line-height: 1;
      }
    }

    .tr {
      display: flex;
      .td {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .rightSide {
    box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.06);
    position: relative;
    z-index: 1;
    .tr.thead {
      height: 40px;
      .td {
        background: #f6f6f6;
        color: #666666;
        font-weight: 500;
        font-size: 13px;
        line-height: 1;
      }
    }

    .tr {
      display: flex;
      .td {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .placeholder {
    width: 100%;
    height: 100%;
    min-height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
  }
}
