:global {
    .taroify-textarea__wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .taroify-native-textarea{
        // line-height: normal;
    }
    .taroify-textarea{
        height: 100%;
    }
}